
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Miedinger W01 Bold";
    text-decoration: none;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    color: white;
    
}

nav .icons{
    justify-content: space-between;
}




nav h1{
    font-size: 60px;
    text-align: left;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
}

.card {
    margin: 100px; 
    width: 20%;
    border-radius: 25px;
    float: right;
    text-align: right;
}

.redText{
    color: red;
}

.Preço{
    font-size: 25px;
    color: red;
}
.viewAllButton {   
    top: 10px;
    right: 10px;
    background-color: red;
    border-radius: 50px;
    color: white;
    font-family: "Miedinger W01 Bold";
}

.viewAllButton :hover{
    background-color: #FFD2D2;
    color: red;
}

.card img {
    height: 200px; 
    object-fit: cover; 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
}

.text-box {
    font-family: 'Futura';
    background-color: #f8f4f4;
    border-radius: 25px;
    width: 100%;
    padding: 10px;
}

.card-body{
    background-color: #FFD2D2;
    border-radius: 25px;
}

.card-body a{
    background-color: red;
    font-size: 11px;
}

.card-title {
    font-size: 200%;
    min-height: 60px;
}

.card-text {
    font-size: 100%;
    min-height: 20px;
}

.card-deck{
    display: flex;
}

.redText{
    color: red;
}

footer{
    background-color: #BEBCBC;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-top: auto;
    padding-top: 60px;
    display: flex;
    align-items: center;
    font-family: "Miedinger W01 Bold";
    justify-content: space-around;
}

footer .socials{
    display: inline-block;
    text-align: left;
    margin-left: 10%;
}

footer h4, p{
    font-family: Futura;
    font-weight: lighter;
    color: black;
}

footer .contactIcons{
    display: inline-block;
    margin-left: 3%;
    line-height: 30px;
}

footer .contactInfo{
    line-height: 15px;
}

footer .newsletter{
    margin-left: 43%;
}

footer .newsletter input[type=email]{
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 45px;
    width: 100%;
}

footer .newsletter input[type=submit]{
    background:red;
    margin-top: 18px;
    border: 0;
    display: flex;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px 25px;
}
